@use 'variables' as *;
@use '../../scss/mixins' as *;

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 32px;
  height: 32px;
  padding: 4px;

  @include respond-to(md) {
    display: flex;
  }

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    background: $color-white;
    border-radius: 2px;
    transition: transform $transition-fast, opacity $transition-fast;
  }

  &.is-active &__line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  &.is-active &__line:nth-child(2) {
    opacity: 0;
  }

  &.is-active &__line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}
