@use 'variables' as *;
@use '../../scss/mixins' as *;

.header {
  position: sticky;
  top: 0;
  z-index: $z-sticky;
  height: $header-height;
  background: $color-dark;
  color: $color-white;

  &__container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}
